version: "3.9"
services:

  frontend:
    build: ./frontend
    ports:
      - 8080:3000
      - 22:22
    depends_on: 
      - backend

  backend:
    build: ./backend
    ports: 
      - 8090:8090
    depends_on: 
      - db

  db:
    image: "mongo:3.6"
    ports:
      - 27021:27017
